body {
    font-size: 16px;
    color:black;
    background-color: #CECECE;
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 20px;
}


h3.menu-item-title {
  width: 100px;
  float:right;
  font-size: 1.0em;
  text-align: center;
  font-weight:bold; 
  font color: #000000;
  padding: 5px 5px 5px 5px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 0px;
  margin-top: 0px;
  
    
}
#background-color1{
	background-color: #ECC5C0;
}
#background-color2{
	background-color: #FFDFDD; 
}
#background-color3{
	background-color: #FFEFD5;
}
.menu-item-details {
  font-size: 1.2em;
  font-style: italic;
  padding-top: 50px;


   
}
#chicken-tile:hover, #Beef-tile:hover, #sushi-tile:hover {
  box-shadow: 0 1px 5px 1px #000;
  margin: 10px;
}
#chicken-tile, #Beef-tile, #sushi-tile{
  width: 400px;
  background-color: white;
  border: 2px solid black;
  margin-bottom: 50px;
  margin-left: 20px;
  box-sizing: border-box;
  float: left;
  


} 

}
@media (max-width: 1200px) {
    
    #menu-categories-title{
    font-size: 2.2em;
    font-weight: bold;

}
  